repos:
  - repo: https://github.com/markdownlint/markdownlint
    rev: v0.12.0
    hooks:
      - id: markdownlint
        # rubocop has too much stuff wrong with it to bother, I need to move it 
        # to another presenter format and will redo it then.
        exclude: |
            (?x)^(
              _lightning/rubocop/rubocop.md|
              _lightning/_reviews/.*
            )$

        args:
          - --style
          - cadcx_markdownlint_style.rb
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: check-json
      - id: check-yaml
