imports:
  revealjs: deps/reveal.js
  fontawesome: deps/font-awesome
  asciinema-player-css: deps/asciinema-player
  asciinema-player-js: deps/asciinema-player
  colindean-tophat: deps/colindean-tophat.jpg
  {% if license_cc_by_sa %}
  cc_by_sa: deps/cc_by_sa
  {% endif %}

curl module revealjs:
  url: https://github.com/hakimel/reveal.js/archive/5.2.1.zip
  unpack: zip

curl module fontawesome:
  url: https://github.com/FortAwesome/Font-Awesome/releases/download/6.0.0/fontawesome-free-6.0.0-web.zip
  unpack: zip

curl module asciinema-player-css:
  url: https://github.com/asciinema/asciinema-player/releases/download/v3.0.0/asciinema-player.css

curl module asciinema-player-js:
  url: https://github.com/asciinema/asciinema-player/releases/download/v3.0.0/asciinema-player.js

curl module colindean-tophat:
  url: https://avatars.githubusercontent.com/u/197224?s=300

{% if license_cc_by_sa %}
curl module cc_by_sa:
  url: https://upload.wikimedia.org/wikipedia/commons/e/e5/CC_BY-SA_icon.svg
{% endif %}
