---
title: "{{talkname}}"
subtitle: "{{subtitle}}"
author:
  - _Colin Dean_
{% if include_fediverse -%}
  - "`@colindean@mastodon.social`"
{% endif -%}
theme: white
css: custom.css
slideNumber: true
hash: true
history: true
# transition: none
transitionSpeed: "fast"
totalTime: 1800
header-includes: |
    <script>
        function connect() {
            const ws = new WebSocket("ws://localhost:56789");
            ws.onopen = () => setTimeout(() => ws.send("keepalive"), 30000);
            ws.onclose = () => setTimeout(connect, 1000);
            ws.onmessage = () => {console.log("reload from save!"); location.reload(); }
        }
        connect();
    </script>
---

# Who is this guy?

::: biopic
![Colin Dean, who wears many hats](deps/colindean-tophat.jpg/197224)
:::

Software engineer and community builder

::: notes

I'm Colin Dean.

:::

---

{% if include_pittsburgh_slide -%}
## {background-image="pittsburgh_on_a_map.svg" background-size="contain" background-color="#6699ff"}

::: notes

I'm here from Pittsburgh, a metropolitan area of around two and a half million people
in northern Appalachia in an area of the United States we call the Rust Belt.

:::

---
{% endif -%}

<!--
Please send me your questions!
-->

Please save your questions until the end.

<small>Grab a piece of paper so you can write them down.</small>

::: notes

COLIN:

Please save your questions until the end.
We have a lot to cover and I need to keep pace to include all of it.
Please do shout out if you can't see something, though, or another technical
problem with the presentation occurs.

:::

---

TODO: WRITE THE TALK

---

# FIN

Thanks, yinz!

|   |   |
|---|---|
{% if include_fediverse -%}
|**fediverse**|`@colindean@mastodon.social`|
{% endif -%}
{% if include_bsky -%}
|**bsky**|`@cad.cx`|
{% endif -%}
|**slides**|https://github.com/colindean/talks|

::: notes

Thanks, yinz.
There some Pittsburghese for you all.

:::

---

# Attributions {.nocaptions}

{% if include_pittsburgh_slide -%}
* [Relief location map of the USA (without Hawaii and Alaska)](https://commons.wikimedia.org/wiki/File:Usa_edcp_relief_location_map.png), Uwe Dedering, 2010.
{% endif -%}
{% if license_cc_by_sa -%}
* [Creative Commons "Attribution-Share Alike" license icon](https://commons.wikimedia.org/wiki/File:CC_BY-SA_icon.svg), Creative Commons, 2008.
{% endif -%}

{% if license_cc_by_sa -%}
![CC-BY-SA logo](deps/cc_by_sa/CC_BY-SA_icon.svg)
{% endif -%}

---

# See also

